.name-section,
.ingredients-section {
  letter-spacing: 3px;
}

.ingredient-name,
.measurement {
  letter-spacing: 2px;
}

.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem 2rem 2rem;
}

.name-section {
  grid-area: name-section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 35ch;
}

.name {
  margin-bottom: 0.5rem;
}

.ingredients-section {
  grid-area: ingredients-section;
  max-width: 380px;
}

.image-section {
  grid-area: image-section;
  display: flex;
  align-items: flex-end;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.ingredients-header {
  margin-bottom: 1rem;
}

.meal-img {
  height: 500px;
  /* width: min(40vw, 300px); */
  width: 500px;
}

.ingredient-name {
  flex: 1 1 auto;
  margin-right: 4vw;
}

.measurement {
  min-width: 5rem;
  text-align: end;
}

.youtube-section {
  grid-area: youtube-section;
}

@media only screen and (min-width: 890px) {
  .item-grid-container {
    display: grid;
    gap: 1rem;
    grid-template-rows: 0.5fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name-section image-section"
      "ingredients-section image-section"
      "ingredients-section image-section"
      "youtube-section youtube-section";
  }

  .youtube-video {
    grid-area: youtube-section;
    aspect-ratio: 16/9;
    height: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 890px) {
  .item-grid-container {
    display: grid;
    gap: 1rem;
    grid-template-areas:
      "name-section"
      "image-section"
      "ingredients-section"
      "youtube-section";
  }

  .meal-img {
    height: auto;
    width: 400px;
  }

  .youtube-video {
    aspect-ratio: 16/9;
    height: auto;
    width: 400px;
  }
}
