.name-section,
.ingredients-section {
  letter-spacing: 3px;
}

.ingredient-name,
.measurement {
  letter-spacing: 2px;
}

.item-grid-container {
  display: block;
  max-width: 600px;
}

.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem 2rem 2rem;
  font-size: clamp(0.9rem, 0.5rem + 1vw, 1.5rem);
}

.name-section {
  grid-area: name-section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 35ch;
  margin-bottom: 1rem;
}

.name {
  margin-bottom: 0.5rem;
}

.ingredients-section {
  grid-area: ingredients-section;
  max-width: 600px;
  margin-bottom: 1rem;
}

.image-section {
  grid-area: image-section;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.ingredient {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.ingredients-header {
  margin-bottom: 1rem;
}

.ingredient-name {
  flex: 1 1 auto;
  margin-right: 4vw;
}

.meal-img {
  max-width: 100%;
}

.measurement {
  min-width: 5rem;
  text-align: end;
}

.youtube-section {
  grid-area: youtube-section;
}

.youtube-video {
  aspect-ratio: 16/9;
  max-width: 100%;
}

@media only screen and (min-width: 890px) {
  .item-grid-container {
    display: grid;
    gap: 1rem;
    grid-template-rows: 0.5fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "name-section image-section"
      "ingredients-section image-section"
      "ingredients-section image-section"
      "youtube-section youtube-section";
    max-width: none;
  }

  .ingredients-section {
    margin-right: 2rem;
  }
}
