input {
  width: max(40vw, 150px);
  margin-left: 2vw;
  background: var(--secondary-cl);
  border-radius: 4rem;
  border-style: none;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 2rem;
}

.nav-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
}

.query {
  background: var(--secondary-cl);
  height: 2rem;
  border-style: none;
}

.btn {
  display: inline-block;
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  background: var(--accent-cl);
  border-style: none;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-1.5rem, -50%);
}

.input-container {
  display: inline-block;
  position: relative;
}
